<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <rewrite>
      <rules>
        <rule name="API" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3010/api/{R:1}" />
        </rule>
        <rule name="BossImage" stopProcessing="true">
          <match url="^boss_image/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3010/boss_image/{R:1}" />
        </rule>
        <rule name="BuffImage" stopProcessing="true">
          <match url="^buff_image/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3010/buff_image/{R:1}" />
        </rule>
        <rule name="CalculatorImage" stopProcessing="true">
          <match url="^calculator_image/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3010/calculator_image/{R:1}" />
        </rule>
        <rule name="SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
